name: CD - Loan Approval

on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_KEY }}" > ~/.ssh/id_rsa
          chmod 400 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to EC2
        run: |
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
            git clone https://github.com/gh4rris/loan_approval_ml.git
            cd loan_approval_ml/
            rm -r notebooks/ images/ .github/
            rm README.md docker-compose.local.yml
            touch .env
            echo APP_PORT=${{ vars.APP_PORT }} > .env
            echo MLFLOW_PORT=${{ vars.MLFLOW_PORT }} >> .env
            echo MLFLOW_BASE_URI=${{ vars.MLFLOW_BASE_URI }} >> .env
            echo HOST=${{ vars.HOST }} >> .env
            docker compose -f docker-compose.prod.yml down
            docker compose -f docker-compose.prod.yml up -d --force-recreate
            cd ..
            rm -rf loan_approval_ml/
          EOF
